Recipe details...

<h1><%= @result.name %></h1>

<%= link_to "Original recipe website", @result.url, :target => "_blank" %>

<h4>Ingredients:</h3>
<% @result.ingredients.each do |ingredient| %>
    <p><%= ingredient %></p>
<% end %>

<h4>Dietary Information:</h3>
<% @result.dietary_info.each do |info| %>
    <p><%= info %></p>
<% end %>
